body {
    font-family: Arial, sans-serif;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .question {
    margin-bottom: 30px;
  }
  .options label {
    display:block;
    margin-bottom: 10px;
  }
  .result {
    font-weight: bold;
    margin-top: 20px;
  }
  h1 {
    color: rgb(251, 0, 255); 
    font-size: 32px; 
    font-family: Arial, sans-serif; 
    text-align:left; 
  }
   
p {
  font-weight: bold; 
}

.correct-answer {
  background-color: lightgreen;
}

.incorrect-answer {
  background-color: salmon;
}

